.register-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgb(0, 0, 0, 0.7);
}

@keyframes fadein {
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
        }
}