p {
	color:#6c6c6f;
	font-size:1em;
}

h1,h2,h3,h4,h5,h6 {
	color:#323233;
	text-transform:uppercase;
}

nav {
	-webkit-transition: padding-top .3s, padding-bottom .3s;
	-moz-transition: padding-top .3s, padding-bottom .3s;
	transition: padding-top .3s, padding-bottom .3s;
	border: none;
	background-color:rgb(96, 39, 116);
}

.body {
	font-family: pixel8;
	font-size:16px;
}

.navbar {
	height: 100px;
	transition: all 0.2s ease-in-out;
}

.navbar-black {
	background: lightgray;
}

.navbar-brand {
	color: #fff;
	font-size:25px;
	font-family: pixel8;
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-brand  span {
	color: rgb(78, 12, 104, 1);
	font-size:25px;
	font-weight:700;
	letter-spacing:0.1em;
	font-family: pixel8;
}

.navbar-nav {
	margin-left: auto;
	margin-right: auto;
}

.navbar-nav .nav-item .nav-link {
	padding: 1.1em 1em!important;
	font-size: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
	font-family: pixel8;
	transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
	background: rgba(255,255,255,.15);
	color:black;
}

.navbar-nav .nav-item .nav-link-black {
	color: black;
	transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-item .nav-link-black:hover {
	background: rgba(0,0,0,.15);
	color: white;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
	font-family: pixel8;
	border-top:3px solid rgb(78, 12, 104, 1);
}

.dropdown-item:hover {
	
	background-color:rgb(78, 12, 104, 1);
	color:#fff;
}

.container-icon {
	width: fit-content;
}

.pixeled-logo {
	height: 85px;
	transition: all 0.2s ease-in-out;
}

.pixeled-logo-invert {
	filter: grayscale(100%) invert(100%) contrast(120%);
	transition: all 0.2s ease-in-out;
}