p {
	color:#6c6c6f;
	font-size:1em;
}

h1,h2,h3,h4,h5,h6 {
	color:#323233;
	text-transform:uppercase;
}

nav {
	-webkit-transition: padding-top .3s, padding-bottom .3s;
	-moz-transition: padding-top .3s, padding-bottom .3s;
	transition: padding-top .3s, padding-bottom .3s;
	border: none;
	background-color:rgb(96, 39, 116, 0);
	filter: opacity(85%);
}

.body {
	font-family: pixel8;
	font-size:16px;
}

.navbar {
	height: 60px;
	transition: all 0.2s ease-in-out;	
}

.navbar-black {
	background: lightgray;
	filter: opacity(100%);
}

.buttons {
	height: 100%;
	position: sticky;
	right: 0;
}

.navbar-brand {
	color: #fff;
	font-size:25px;
	font-family: pixel8;
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-initial {
	box-shadow: unset;
}

.navbar-brand  span {
	color: rgb(78, 12, 104, 1);
	font-size:25px;
	font-weight:700;
	letter-spacing:0.1em;
	font-family: pixel8;
}

.navbar-nav {
	position: relative;
	right: 0;
	height: 100%;
}

.navbar-collapse {
	height: 100%;
	width: 100vw;
	transition: all 0.2s ease-in-out;
}

.hide-header {
	visibility: hidden;
}

.nav-item {
	height: 130%;
	margin-top: -6.5px;
	padding: 1.1em 1em!important;
	font-size: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
	font-family: pixel8;
	transition: all 0.2s ease-in-out;
	border: black solid 2px;
    background: lightgray;
    margin-left: 1px;
	border-radius: 2px;
}

.nav-item:hover {
	background: rgb(78, 12, 104, .75);
	color:white;
	border: white solid 3px;
}

.navbar-nav .nav-item .nav-link {
	color: black;
	margin-top: -30px;
	height: 100%;
	background: unset;
}


.navbar-nav .nav-item:hover .nav-link {
	color: white;
}

.navbar-nav .nav-item .alt-nav-link {
	color: black;
	margin-top: -30px;
	height: 100%;
	background: unset;
}

.navbar-nav .nav-item:hover .alt-nav-link {
	color: white;
}

.navbar-nav .nav-item .sub-nav-link {
	color: black;
	height: 100%;
	background: unset;
}

.navbar-nav .nav-item:hover .sub-nav-link {
	color: white;
}

.navbar-nav .nav-item .nav-link-black {
	color: black;
	transition: all 0.2s ease-in-out;
	height: 100%;
}

.navbar-nav .nav-item:hover .nav-link-black {
	color: white;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
	font-family: pixel8;
	border-top:3px solid rgb(78, 12, 104, 1);
}

.dropdown-item:hover {
	
	background-color:rgb(78, 12, 104, 1);
	color:#fff;
}

.container-icon {
	width: fit-content;
	transition: all 0.2s ease-in-out;
}

.pixeled-logo {
	height: 130px;
	width: 125px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	border: 3px solid black;
	border-radius: 100%;
	filter: brightness(83%);
	box-shadow: 0 5px 0px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.pixeled-logo-invert {
	opacity: 1;
	transition: all 0.2s ease-in-out;
	margin-top: 109px;
}