<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner" [ngClass]="{'navbar-black': changeHeaderView, 'navbar-initial': !changeHeaderView}">
  <div class="container icon">
    <img class="pixeled-logo" src="../../../assets/outros/grifo-logo.png" [ngClass]="{'pixeled-logo-invert': changeHeaderView}" />
  </div>
  <div #buttons class="container buttons">

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" [ngClass]="{'hide-header': changeHeader}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" (click)="emitRegisterModal()">
          <a class="alt-nav-link"  [ngClass]="{'nav-link-black': changeHeaderView}">REGISTRO/</a>
          <a class="sub-nav-link"  [ngClass]="{'nav-link-black': changeHeaderView}">LOGIN</a>
        </li>
        <li class="nav-item" (click)="emitHome()" [routerLink]="['/home']">
          <a class="nav-link" [ngClass]="{'nav-link-black': changeHeaderView}">SITE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>