<section>
    <section class="info-section">
        <div class="isb-container">
            <div class="info-section-body">
                <h3 class="pixel8">O que é o DASI?</h3>
                <div>
                    O DASI (Diretório Acadêmico de Sistemas de Informação) é entidade de
                    representação do curso formada por alunos de Sistemas de Informação
                    que representam os interesses dos estudantes junto à faculdade como
                    confraternizações, atividades com práticas esportivas além de elaborar
                    e implementar projetos acadêmicos.
                </div>
            </div>
        </div>
    </section>
    <section class="info-section">
        <div class="isb-container">
            <div class="info-section-body isb-purple isb-right">
                <h3 class="pixel8">Atividades Acadêmicas</h3>
                <div>
                    O DASI (Diretório Acadêmico de Sistemas de Informação) é entidade de
                    representação do curso formada por alunos de Sistemas de Informação
                    que representam os interesses dos estudantes junto à faculdade como
                    confraternizações, atividades com práticas esportivas além de elaborar
                    e implementar projetos acadêmicos.
                </div>
            </div>
        </div>
    </section>
    <section class="info-section parallax parallax1-2">
        <div class="isb-container">
            <div class="info-section-body isb-purple isb-right">
                <h3 class="pixel8">Eventos</h3>
                <div>
                    O pilar da quebração não falta pra essa galera do barulho (literalmente).<br />
                    Nunca mais ninguém dorme, a galera alucinada sem saber o que tá acontecendo gritando e pulando como se 
                    tivesse chegado a invasão dos Zerg.
                </div>
            </div>
        </div>
    </section>
    <section class="info-section parallax parallax1">
        <div class="isb-container">
            <div class="info-section-body">
                <h3 class="pixel8">Esportivo</h3>
                <div>
                    Nós fazemos vários jogos bonitos e o pessoal gama na torcida pa o bagulho fica frenesi total mesmo.
                </div>
            </div>
        </div>
    </section>
</section>