/* .input.pixel8, .input.pixel8:not(.browser-default):focus:not([type="readonly"]) {
    font-family: pixel8;
    font-size: 17px;
}

.label.pixel8 {
    font-family: pixel8;
    font-size: 10px;
}

.label.pixel8:not(.browser-default):focus:not([type="readonly"]) {

} */

/* Construção da Home */

body {
    background-color:black;
}

.sections {
    position: relative;
    background: lightgray;
    filter: brightness(115%);
    padding-top: 20vh;
}

.adjust-sections {
    padding-top: 22.1vh;
}

.title {
    font-family: pixel8;
    font-size: 8vh;
}

.parallax {
    background-position: center;
    background-attachment: fixed;
    position:relative;
}

.parallax1 {
    background-image:url("../assets/parallax1.jpg");
    background-position: top;
}

.parallax1-2 {
    background-image:url("../assets/parallax1-2.jpg");
}

.info-section {
    color:white;
    padding:30px;
    height:100vh;
}

.isb-container {
    width:90%;
    margin:0 auto;
    position:relative;
}

.card-container {
    transition: all 0.5s ease-in-out;
}

.card-container:hover {
    margin-top: -20px;
    transition: all 0.5s ease-in-out;
}

.info-section-body {
    background-color:rgb(0, 0, 0, 1);
    font-size:4vh;
    padding-left: 2vh;
}

.isb-black {
    box-shadow:
        /* Inner Border */
        -4px  0   0   0  black,
        4px  0   0   0   black,
        0   -8px 0   0   black,
        0    8px 0   0   black,
        0  -20px 0  -4px black,
        0   20px 0  -4px black,
        0  -28px 0  -8px black,
        0   28px 0  -8px black,
        0  -40px 0  -16px black,
        0   40px 0  -16px black,
        0  -52px 0 -24px black,
        0   52px 0 -24px black,
        /* Middle Border */
        -8px  0   0   0  white,
        8px  0   0   0   white,
        0   -8px 0   4px white,
        0    4px 0   4px white,
        0   -16px 0   0px white,
        0    16px 0   0px white,
        0  -24px 0  -4px white,
        0   24px 0  -4px white,
        0  -32px 0  -8px white,
        0   32px 0  -8px white,
        0  -44px 0  -16px white,
        0   44px 0  -16px white,
        0  -56px 0 -24px white,
        0   56px 0 -24px white,
        /* Outer Border */
        -12px  0   0   0  black,
        12px  0   0   0   black,
        0    -2px   0   8px black,
        0   -12px 0   4px black,
        0    12px 0   4px black,
        0  -20px 0   0   black,
        0   20px 0   0   black,
        0  -28px 0  -4px black,
        0   28px 0  -4px black,
        0  -36px 0  -8px black,
        0   36px 0  -8px black,
        0  -48px 0  -16px black,
        0   48px 0  -16px black,
        0  -60px 0 -24px black,
        0   60px 0 -24px black;
}

.isb-right {
    position:absolute;
    right: 0;
}

.isb-left {
    position:absolute;
    left: -8vh;
}

.intro {
    height: 51vh;
    width: 70%;
    padding-top: 1vh;
}

.academico {
    height: 64vh;
    width: 70%;
    padding-top: 5vh;
}

.eventos {
    height: 55vh;
    width: 70%;
    padding-top: 5vh;
}

.esportivo {
    height: 32vh;
    width: 70%;
}

.logo {
	filter: invert(100%);
	position: absolute;
	transform: scale(0.4);
}

.subnavbar {
	position: relative;
	width: 100%;
	height: 2vh;
    background: purple;
	z-index: 1;
}

.sticky {
	position: fixed;
	top: 15.5vh;
}

.subnavbar-black {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.progress {
    margin-top: 0vh;
    width: 0%;
    height: 2vh;
    background: rgb(108, 0, 180);
}

/* Responsividade */

@media screen and (max-width: 751px) {
    .title {
        font-size: 4vh;
    }
    
    .info-section {
        width: 100vh;
    }

    .info-section-body {
        font-size: 15px;
    }
}