<div id="test-form">
    <mat-form-field appearance="outline">
        <mat-label class="label pixel1">Nome</mat-label>
        <input matNativeControl class="input pixel1" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel2">Nome</mat-label>
        <input matNativeControl class="input pixel2" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel3">Nome</mat-label>
        <input matNativeControl class="input pixel3" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel4">Nome</mat-label>
        <input matNativeControl class="input pixel4" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel5">Nome</mat-label>
        <input matNativeControl class="input pixel5" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel6">Nome</mat-label>
        <input matNativeControl class="input pixel6" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel7">Nome</mat-label>
        <input matNativeControl class="input pixel7" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel8">Nome</mat-label>
        <input matNativeControl class="input pixel8" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel9">Nome</mat-label>
        <input matNativeControl class="input pixel9" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel10">Nome</mat-label>
        <input matNativeControl class="input pixel10" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel11">Nome</mat-label>
        <input matNativeControl class="input pixel11" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel12">Nome</mat-label>
        <input matNativeControl class="input pixel12" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel13">Nome</mat-label>
        <input matNativeControl class="input pixel13" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label  class="label pixel14">Nome</mat-label>
        <input matNativeControl class="input pixel14" type="text">
    </mat-form-field>
</div>