.carousel {
    height: 90vh;
    width: 100%;
}

.carousel-inner {
    overflow: unset;
}

.carousel-item {
    visibility: visible;
    height: 100vh;
    width: 100%;
    filter: contrast(30%) grayscale(10%);
}

.d-block.w-100.two {
    position: absolute;
    top: -41vh;
}

.d-block.w-100.one {
    position: absolute;
    bottom: -20vh;
    transform: scale(1.2, 1.2);
    left: -8vw;
}

@media screen and (max-width: 751px) {
    .carousel {
        height: 150vh;
        width: 150vh;
    }
}